<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="header-container"></div>

<script>
    fetch("header.html")
        .then(res => res.text())
        .then(html => {
            document.getElementById("header-container").innerHTML = html;
        });
</script>


    <div class="form-container">
        <h2>Criar Conta</h2>

        <input type="text" placeholder="Nome e sobrenome">
        <input type="email" placeholder="E-mail">
        <input type="password" placeholder="Senha">
        <input type="password" placeholder="Confirmar senha">

        <button>Cadastrar</button>

        <a href="login.html" class="alt-link">
            Já tenho conta
        </a>
    </div>

</body>
</html>
