body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header {
    background-color: #1db954;
    padding: 20px 0;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #222;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
