.cart-container {
    width: 90%;
    margin: 50px auto;
    color: white;
}

.titulo {
    font-size: 32px;
    margin-bottom: 25px;
    border-left: 6px solid #6a00ff; /* roxo */
    padding-left: 15px;
}

.cart-content {
    display: flex;
    gap: 30px;
}

/* LISTA DE PRODUTOS DO CARRINHO */
.cart-items {
    flex: 2;
    background: #161616;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #6a00ff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    background: #1f1f1f;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #6a00ff;
    gap: 20px;
}

.cart-item img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

/* DESCRIÇÃO DO PRODUTO */
.item-info {
    flex: 1;
}

.nome {
    font-size: 20px;
    font-weight: 600;
}

.preco {
    margin-top: 6px;
    font-size: 18px;
    color: #d9b300;
}

/* QUANTIDADE */
.quantidade {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.quantidade button {
    padding: 5px 12px;
    font-size: 18px;
    cursor: pointer;
    background: #6a00ff;
    color: white;
    border: none;
    border-radius: 6px;
}

.quantidade span {
    font-size: 18px;
}

/* RESUMO */
.cart-summary {
    flex: 1;
    background: #1a1a1a;
    padding: 25px;
    border: 2px solid #d9b300;
    border-radius: 15px;
}

.cart-summary h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.linha {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.total {
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid #444;
    padding-top: 10px;
}

/* BOTÃO FINALIZAR */
.btn-finalizar {
    margin-top: 25px;
    width: 100%;
    padding: 14px;
    font-size: 18px;
    background: linear-gradient(90deg, #6a00ff, #d9b300);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.btn-finalizar:hover {
    transform: scale(1.03);
}
