/* ======== RESET ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ======== CONTAINER ======== */
body {
    background: #5b1fa8; /* roxo forte */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* ======== CARD ======== */
.form-container {
    background: #ffffff;
    padding: 40px;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

/* ======== TÍTULO ======== */
.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    color: #000;
}

/* ======== INPUTS ======== */
.form-container input {
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;
    border-radius: 8px;
    background: #ffffff; 
    border: 2px solid #ddd;
    transition: .3s;
}

.form-container input:focus {
    border-color: #5b1fa8;
    outline: none;
}

/* ======== BOTÃO ======== */
.form-container button {
    width: 100%;
    padding: 14px;
    border: none;
    background: #5b1fa8;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.form-container button:hover {
    background: #4a1789;
}

/* ======== LINK ======== */
.form-container .alt-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #5b1fa8;
    font-weight: 500;
    text-decoration: none;
}

.form-container .alt-link:hover {
    text-decoration: underline;
}
